.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}

.heroImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
}

.hero{
    width: 100%;
    height: 100%;
}

.hero .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    left: 50%;
}

.hero .content h1 {
    font-size: 4rem;
    padding: 0.5rem 0.75rem;
}

.hero .content p{
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

.content .btn{
    margin: 0 0.5rem;
}

.hero-buttons{
    margin-top: 1rem;
}