@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Outfit', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}

.btn{
  background-color: yellow;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.65rem 1.75rem ;
}

.btn-light{
  background-color: transparent;
  color: white;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}